@use "sass:map";

$colors: (
  color1: green,
  color2: blue,
  color3: red,
  color4: pink,
  color5: orange,
);

body {
  background-color: map.get($colors, color5);
  color: map.get($colors, color2);
}

footer {
  background-color: map.get($colors, color4);
}
