.exercise1 {
  display: flex;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-grow: 1;
}

.test1 {
  background: #FF6347;
}

.test2 {
  background: #9370DB;
}

.test3 {
  background: #00FA9A;
}