@use 'sass:math';

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;

    $columns: 12;
    $column-base-width: math.div(100%, $columns);
     
    @for $i from 1 through $columns {
      .col-#{$i} {
        min-height: 1px;
        width: $column-base-width * $i;
        padding: 12px;
    
        @media screen and (max-width: 550px) {
          width: 100%;
        }
      }
    }
  }
}