.wrap {
  display: flex;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

div {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #08a6e4;

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}
