@import "partials/exercise1";
@import "partials/exercise2";
@import "partials/exercise3";

.test1 {
  background: #ff6347;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    height: 55px;
    border-radius: 30px;
  }
  50% {
    transform: translateY(63px);
    height: 35px;
    border-radius: 50%;
  }
  75% {
    height: 55px;
    border-radius: 30px;
  }
  100% {
    transform: translateY(0);
  }
}

.loading1 {
  width: 50px;
  height: 100px;
  border-radius: 30px;
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  .ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    animation: jump 1.5s infinite ease-in-out;
  }
}
@keyframes rotate {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 270deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loading2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

@keyframes squeeze {
  from {
    height: 50px;
  }
  to {
    height: 10px;
  }
}

.loading3 {
  display: flex;
  align-items: center;
  span {
    width: 7px;
    height: 50px;
    background-color: white;
    border-radius: 3px;
    margin-right: 3px;
    animation: squeeze in ease-in-out infinite alternate;
  }
  @for $i from 1 through 5 {
    span:nth-of-type(#{$i}) {
      animation: squeeze 0.8s #{$i}50ms ease-in-out infinite alternate;
    }
  }
}
